@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.landingPage {
  width: 100%;
  height: auto;
}

.animated-Logo {
  width: 100%;
  height: auto;
  margin-left: -800px;
  margin-top: -40px;
}

.text {
  text-align: end;
  margin-right: 10%;
  margin-top: -30%;
}

.text h1 {
  font-size: 150px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: -400px;
}

.text h2 {
  font-size: 180px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: -20px;
  margin-left: -30%;
}

.text h3 {
  font-size: 160px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: -15px;
  margin-left: -10%;
}

.paragraph {
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  margin-top: -60px;
  margin-left: 80px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .animated-Logo {
    margin-left: -600px;
    margin-top: 50px;
  }

  .text {
    margin-right: 5%;
  }

  .text h1 {
    font-size: 120px;
    margin-top: -300px;
  }

  .text h2 {
    font-size: 150px;
    margin-left: -20%;
  }

  .text h3 {
    font-size: 130px;
    margin-left: -5%;
  }

  .paragraph {
    width: 50%;
    margin-left: 60px;
    margin-top: -70px;
  }
}

@media screen and (max-width: 992px) {
  .animated-Logo {
    margin-left: -500px;
  }

  .text {
    margin-right: 5%;
    margin-top: -20%;
  }

  .text h1 {
    font-size: 100px;
    margin-top: -250px;
  }

  .text h2 {
    font-size: 130px;
    margin-left: -15%;
  }

  .text h3 {
    font-size: 110px;
    margin-left: 0;
  }

  .paragraph {
    width: 45%;
    margin-left: 40px;
    margin-top: -100px;
  }
}

@media screen and (max-width: 768px) {
  .animated-Logo {
    margin-left: -250px;
    margin-top: -100px;
  }

  .text {
    margin-right: 5%;
    margin-top: 10%;
  }

  .text h1 {
    font-size: 80px;
    margin-top: -200px;
  }

  .text h2 {
    font-size: 100px;
    margin-left: -10%;
  }

  .text h3 {
    font-size: 90px;
    margin-left: 0;
  }

  .paragraph {
    width: 50%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .animated-Logo {
    margin-left: -100px;
    margin-top: 20px;
  }

  .text {
    text-align: center;
    margin-right: 0;
    margin-top: 50px;
  }

  .text h1 {
    font-size: 60px;
    margin-top: -50px;
  }

  .text h2 {
    font-size: 80px;
    margin-left: 0;
  }

  .text h3 {
    font-size: 70px;
    margin-left: 0;
  }

  .paragraph {
    width: 90%;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 40px;
  }
}