/* Base styles */
.main-approch {
    height: 100vh;
    background-color: #564496;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.approch-txt {
    padding-top: 10%;
    padding-left: 5%;
    text-align: left;
}

.approch-txt h1 {
    font-size: 60px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.approch-txt h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.left-section {
    width: 50%;
    padding: 10%;
}

.left-section p {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 18px;
    color: #fff;
}
  
.right-section {
    width: 50%;
}
  
.card-stack {
    position: relative;
    width: 100%;
    height: 70%;
    max-width: 60%;
    overflow-y: hidden;
    margin-top: 20%;
}
  
.card {
    height: 65% !important; 
    position: absolute;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    transition: transform 0.3s ease;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

/* Initial positioning of cards */
.card:nth-child(1) {
    top: 0;
  }
  
  .card:nth-child(2) {
    top: 10%; /* Adjust to show a glimpse of the second card */
  }
  
  .card:nth-child(3) {
    top: 40%; /* Adjust to show a glimpse of the third card */
  }
  
  .card:nth-child(4) {
    top: 60%; /* Adjust to show a glimpse of the fourth card */
  }

/* Responsive styles */
@media (max-width: 1200px) {
    .main-approch {
        height: 220px;
    }
    .approch-txt {
        padding-right: 60px;
    }
    .approch-txt h1 {
        font-size: 32px;
    }
    .approch-txt h2 {
        font-size: 22px;
    }
    .main-approch p {
        width: 30%;
        margin-left: 80px;
    }
}

@media (max-width: 992px) {
    .main-approch {
        height: 200px;
    }
    .approch-txt {
        padding-right: 40px;
    }
    .approch-txt h1 {
        font-size: 28px;
    }
    .approch-txt h2 {
        font-size: 20px;
    }
    .main-approch p {
        width: 40%;
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    .main-approch {
        height: 180px;
    }
    .approch-txt {
        padding-right: 20px;
        text-align: center;
        padding-top: 20px;
    }
    .approch-txt h1 {
        font-size: 24px;
    }
    .approch-txt h2 {
        font-size: 18px;
    }
    .main-approch p {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .main-approch {
        height: 160px;
        margin-top: 20px;
    }
    .approch-txt {
        padding-right: 10px;
        padding-top: 10px;
    }
    .approch-txt h1 {
        font-size: 20px;
    }
    .approch-txt h2 {
        font-size: 16px;
    }
    .main-approch p {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
}

