/* Navbar Styling */
.curved-navbar {
  position: sticky;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-top: 25px;
  margin-left: 100px;
  width: 90%;
  height: 70px;
}

/* Logo */
.logo img{
  height: 150PX;
  margin-left: -50px;
}

/* Navigation Items */
.nav-items {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav-items a {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  /* text-transform: uppercase; */
  transition: color 0.5ms ease;
  font-weight: 50;
}

.nav-items a:hover {
  color: #f5f4f3;
  background: linear-gradient(90deg, #c92f3e, #682c80, #3d8cc9);
  border-radius: 50px;
  transition: color 0.3s ease-in;
}

/* Get in Touch Button */
.get-in-touch {
  background: linear-gradient(90deg, #c92f3e, #682c80, #3d8cc9);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
}

.get-in-touch:hover {
 color: white;
}

/* Responsive Design */
@media (max-width: 992px) {
  .nav-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .get-in-touch {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .curved-navbar {
    width: 90%;
    height: 70px;
    margin-left: 25px;
  }

  .logo img {
    height: 150px;
    margin-left: -10px;
    margin-top: -50px;
  }
  .toggle{
    margin-top: -60px;
    height: 50px;
  }

  .nav-items {
    gap: 30px;
  }

  .nav-items a {
    font-size: 0.8rem;
  }

  .get-in-touch {
    padding: 5px 10px;
    font-size: 0.8rem;

  }
}
